@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  width: 100vw;
  height: 100vh;
}